* {margin:0;padding:0;}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #FFF;
}

a {
  color: #00B7FF;
  text-decoration: none;
}
#whoami {display:none;}
.title {margin: 5px;padding-bottom:5px;border-bottom: 1px solid #ddd;}
.contacts {position: absolute;right:10px;top: 50px;border:1px solid #888;border-radius: 5px;padding: 5px;width: 200px;height: 580px;}
.contacts ul {list-style: none;}
.contacts li {margin-left:20px;text-indent:10px;height: 30px;border: 1px solid #FFF;border-radius: 5px;}
/*from: #F7F9FF; to: #EAF7FD*/
.contacts li:hover {background-color: #eee;border-color:#CAD3E4;
background-image: -moz-linear-gradient(top, #F7F9FF, #EAF7FD);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F7F9FF), color-stop(1, #EAF7FD));
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F7F9FF', endColorstr='#EAF7FD', GradientType='0');
}
.contacts li a {line-height:30px;height:30px;width:100%;display:block;}

.active {display:block;}
.window {position:absolute;display:none;box-shadow:0 0 5px #888;border-radius:5px;width: 400px;height: 510px;border:1px solid #888;background-color:#eee;}
.window .winwrapper {margin:10px;width: 380px;}
.window .title {height: 30px;font-size:16px;line-height:30px;margin: 10px 0;}
.window .message {display:block;width:100%;height:250px;margin: 5px 0;overflow-y:auto;border:1px solid #CCC;background-color:#FFF;}
.window .input {resize:none;outline:none;background-color: #FFF;width:100%;height:150px;margin:5px 0;border:1px solid #888;box-shadow: inset 1px 1px 5px #666;}
.window .btns {text-align: right;}

.btns a {display:inline-block;padding: .25em 1em;text-decoration:none;;border:1px solid #888;border-radius: 5px;background-color:#FFF;}
.btns a:hover {
background-image: -moz-linear-gradient(top, #F7F9FF, #EAF7FD);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F7F9FF), color-stop(1, #EAF7FD));
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F7F9FF', endColorstr='#EAF7FD', GradientType='0');
}
.btns .trigger {margin-left:-5px;border-radius: 0 5px 5px 0;padding:0.25em 1px;}

.message {display:none;}
.message p {margin: 5px;font-size:12px;}
.message .user {color: blue;}
.message .content {font-size:16px;line-height:20px;font-weight: normal;padding-left:10px;}
.message .fail {display:none;}
#trigger-menu {position:absolute;display:none;border: 1px solid #888;border-radius: 0 0 5px 5px;padding:5px;}
#trigger-menu ul {list-style:none;font-size:12px;}
#trigger-menu li {display:block;height:25px;line-height:25px;text-indent:20px;cursor:pointer;}
#trigger-menu li:hover {
background-image: -moz-linear-gradient(top, #F7F9FF, #EAF7FD);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F7F9FF), color-stop(1, #EAF7FD));
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F7F9FF', endColorstr='#EAF7FD', GradientType='0');
}
#trigger-menu .active {background: url(/images/checked.gif) no-repeat 2px center;}